#######################################################################################
#    Pin mappings and timing constraints for the HMB SciFi Tracker Daughtercard       #
#																												  #
#	  Inherited from, but greatly streamlined -- needs waveform sampling added in.	  #
#######################################################################################
# GSV 9/14/2018  --  streamlined initially

##  Filename:   HMB_DC.ucf


####################CLOCK IN/OUT SIGNALS###################################
SYSTEM_JITTER = 1000 ps;


########## clocks ################################## by me next 2
#NET "sys_clk" TNM_NET = "sys_clk";
#TIMESPEC TS_sys_clk = PERIOD "sys_clk" 40 ns HIGH 50 %;
#added by me next 2
NET "DATA_CLK_P<0>" TNM_NET = "DATA_CLK_P<0>";
TIMESPEC TS_DATA_CLK_P = PERIOD "DATA_CLK_P<0>" 40 ns HIGH 50 %;
  
#by me next 6
#NET "asic_clk" TNM_NET = "asic_clk";
##TIMESPEC TS_asic_clk = PERIOD "asic_clk" 16 ns HIGH 50 %;

#NET "DC_DC_DATA_CLK" TNM_NET = "DC_DC_DATA_CLK";
#TIMESPEC TS_DC_DATA_CLK = PERIOD "DC_DC_DATA_CLK" 40 ns HIGH 50 %;

#NET "aux_clk" TNM_NET = "aux_clk";
#TIMESPEC TS_AUX_CLK = PERIOD "aux_clk" 100 ns HIGH 50 %;

########## SCROD to daughter card communications signals ############################
###
### based on 8b10b serial Bytelink 

# Clock (previous pin-out listed for board reference) -- DC_CLK on SCROD side
#NET "DATA_IN_N"	 	 LOC = "P123"; 
#NET "DATA_IN_P"	 	 LOC = "P124"; (by me next 2)
#NET "SYSCLK_N"	 	 	 LOC = "P123" | IOSTANDARD = LVDS_25 | DIFF_TERM = "FALSE"; #
#NET "SYSCLK_P"	 	    LOC = "P124" | IOSTANDARD = LVDS_25 | DIFF_TERM = "FALSE"; #
## ADDED by me next 2
# NET "DATA_CLK_N<0>"	 	 	 LOC = "P123" | IOSTANDARD = LVDS_25 | DIFF_TERM = "FALSE"; # mostly used for now
# NET "DATA_CLK_P<0>"	 	    LOC = "P124" | IOSTANDARD = LVDS_25 | DIFF_TERM = "FALSE"; #
NET "DATA_CLK_N<0>"	 	 	 LOC = "P131" | IOSTANDARD = LVDS_25 | DIFF_TERM = "FALSE"; # mostly used for now
NET "DATA_CLK_P<0>"	 	    LOC = "P132" | IOSTANDARD = LVDS_25 | DIFF_TERM = "FALSE"; #

# NET "DATA_CLK_N<0>"	 	 	 LOC = "P123";
# NET "DATA_CLK_P<0>"	 	    LOC = "P124";
 
# RX    (TX on SCROD side)
# NET "RX_DC_N<0>"	 			 LOC = "P126" | IOSTANDARD = LVDS_25 | DIFF_TERM = "FALSE"; #jg mostly used for now
# NET "RX_DC_P<0>"	 			 LOC = "P127" | IOSTANDARD = LVDS_25 | DIFF_TERM = "FALSE"; #gj

NET "RX_DC_N<0>"	 			 LOC = "P126"; #jg 
NET "RX_DC_P<0>"	 			 LOC = "P127"; #gj

# NET "RX_DC_N<0>"	 			 LOC = "P131" | IOSTANDARD = LVDS_25 | DIFF_TERM = "FALSE"; #jg
# NET "RX_DC_P<0>"	 			 LOC = "P132" | IOSTANDARD = LVDS_25 | DIFF_TERM = "FALSE"; #gj usinhg SC_DC_CLK

# TX
#NET "ORed_Trig_N"	 LOC = "P141"; 
#NET "ORed_Trig_P" 	 LOC = "P142"; 
# NET "TX_DC_N<0>"		       LOC = "P139" | IOSTANDARD = LVDS_25 | DIFF_TERM = "FALSE"; #RX on SCROD side
# NET "TX_DC_P<0>" 	          LOC = "P140" | IOSTANDARD = LVDS_25 | DIFF_TERM = "FALSE"; #
# NET "TX_DC_N<0>"		       LOC = "P141" | IOSTANDARD = LVDS_25 | DIFF_TERM = "FALSE"; #RX on SCROD side, mostly used for now
# NET "TX_DC_P<0>" 	          LOC = "P142" | IOSTANDARD = LVDS_25 | DIFF_TERM = "FALSE"; #

NET "TX_DC_N<0>"		       LOC = "P141"; #RX on SCROD side,
NET "TX_DC_P<0>" 	          LOC = "P142"; # used now!!

# NET "TX_DC_N<0>"		       LOC = "P137"; #RX on SCROD side,
# NET "TX_DC_P<0>" 	          LOC = "P138"; #

# SYNC -- used to align timestamps between DCs   (SYNC on SCROD side)
#NET "MAS_ACK_N"	 	 LOC = "P1"; 
#NET "MAS_ACK_P"	 	 LOC = "P2"; 
# NET "SYNC_N<0>"	 	    LOC = "P1" | IOSTANDARD = LVDS_25 | DIFF_TERM = "FALSE"; #hg mostly used for now
# NET "SYNC_P<0>"	 	    LOC = "P2" | IOSTANDARD = LVDS_25 | DIFF_TERM = "FALSE"; #hg

NET "SYNC_N<0>"	 	    LOC = "P1"; #hg
NET "SYNC_P<0>"	 	    LOC = "P2"; #hg

######################################################################################
                         
########## FLASH interface signals ################################################### (by me next 4)
#NET	"flash_do"      LOC = "p65";
#NET	"flash_clk"     LOC = "p70";
#NET	"flash_di"      LOC = "p64";
#NET 	"flash_cs"		 LOC = "p38"; 
	                         
########## dac interface signals ##################################################### (by me next 5)
#NET "DAC_SDI" 			LOC = "P46";
#NET "DAC_SCLK" 		LOC = "P47";
#NET "DAC_SYNC" 		LOC = "P48";
#NET "DAC_LDAC" 		LOC = "P50";
#NET "DAC_SDO"    	   LOC = "p51"; 

#####################################################################################
###
### TARGETX Control/Readout Signals
###

######### TARGETX programmable register interface ###################################   (by me next 4)
NET	"SIN"          LOC = "p143";	# data in
NET	"SCLK"         LOC = "p5";		# serial shift clock
NET	"PCLK"         LOC = "p6";		# parallel load clock
#NET	"SHOUT"        LOC = "p7";    # shifted data out          
																																	 
######### TARGETX trigger signals (to fpga) ######################################### (by me next 5)
#NET   "TX_TRIG<0>"   LOC = "p34"; #
#NET   "TX_TRIG<1>"   LOC = "p33"; 
#NET   "TX_TRIG<2>"   LOC = "p8"; 
#NET   "TX_TRIG<3>"   LOC = "p9";   
#NET   "TX_TRIG<4>"   LOC = "p10"; # multi-hit flag
                      
### TARGETX Control signals needed for waveform sampling -- static for mRICH Hodo (by me next 1)
	   
#NET	"REGCLR"         LOC = "p67";	#Keep Low!!!

#####################################################################################
###
###   NOTE!!!
###
### ALL below NOT Needed holoscope!!  (static)
########## TARGETX clocks ########################################################### (by me next 4)

NET "SSTIN_P<0>"  		LOC = "P44" | IOSTANDARD = LVDS_25; # SSTin (sampling) clock
NET "SSTIN_N<0>"  		LOC = "P43" | IOSTANDARD = LVDS_25; 
NET "WL_CLK_P<0>" 		LOC = "P121" | IOSTANDARD = LVDS_25;# Wilkinson clock
NET "WL_CLK_N<0>" 		LOC = "P120" | IOSTANDARD = LVDS_25;

### Timebase Control/Write Addressing   (by me next 4)
#NET   "MON_Timing" 	  LOC = "P32"; #for monitoring timing                           
NET	"BUS_WR_ADDRCLR"     LOC = "p55";	# Reset Write Address
NET	"WR1_ENA<0>"        LOC = "p56";	# Enable Writing bank 1
NET	"WR2_ENA<0>"        LOC = "p119";# Enable Writing bank 2

### Read Address Selection (by me next 7)
NET	"BUS_RD_ENA"         LOC = "p66";	
NET	"BUS_RD_ROWSEL<0>" LOC = "p59";
NET	"BUS_RD_ROWSEL<1>" LOC = "p61";
NET	"BUS_RD_ROWSEL<2>" LOC = "p62";
NET	"BUS_RD_COLSEL<0>" LOC = "p14";	
NET	"BUS_RD_COLSEL<1>" LOC = "p15";
NET	"BUS_RD_COLSEL<2>" LOC = "p16";
NET	"BUS_RD_COLSEL<3>" LOC = "p17";
NET	"BUS_RD_COLSEL<4>" LOC = "p21";
NET	"BUS_RD_COLSEL<5>" LOC = "p22";

## ADC control (by me next 3)
NET   "BUS_RAMP"         LOC = "p58";	
# NET   "BUS_DONE"         LOC = "p79";	
NET   "BUS_CLR"				LOC = "p78"; 	 

### Data readout from TARGETX (to FPGA) ################################### (by me next 6)
NET	"SAMPLESEL_ANY"  LOC = "p105"; # Overloaded -- Output Enable	
NET	"SAMPLESEL<0>" LOC = "p111"; 
NET	"SAMPLESEL<1>" LOC = "p112"; 
NET	"SAMPLESEL<2>" LOC = "p114";
NET	"SAMPLESEL<3>" LOC = "p115";
NET	"SAMPLESEL<4>" LOC = "p116";
# Serializer control (by me next 3)
NET	"SR_CLR"     LOC = "p94";	
NET	"SR_CLK"       LOC = "p93";	
NET	"SR_SEL"       LOC = "p92";	#(by me
# 16 parallel serial streams, 1 per channel (by me next 16)
NET	"TX_DATA<0>"   LOC  = "p80";  
# NET	"TX_DATA<1>"   LOC  = "p81"; 
# NET	"TX_DATA<2>"   LOC  = "p82";
# NET	"TX_DATA<3>"   LOC  = "p83";
# NET	"TX_DATA<4>"   LOC  = "p84";
# NET	"TX_DATA<5>"   LOC  = "p85";
# NET	"TX_DATA<6>"   LOC  = "p87";
# NET	"TX_DATA<7>"   LOC  = "p88";
# NET	"TX_DATA<8>"   LOC  = "p95";
# NET	"TX_DATA<9>"   LOC  = "p97";
# NET	"TX_DATA<10>"  LOC  = "p98";
# NET	"TX_DATA<11>"  LOC  = "p99";
# NET	"TX_DATA<12>"  LOC  = "p100";
# NET	"TX_DATA<13>"  LOC  = "p101";
# NET	"TX_DATA<14>"  LOC  = "p102";
#NET	"TX_DATA<15>"  LOC  = "p104";

################################################################################# 

